<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit pagination-centered">
    <h1>Drag and Drop for AngularJS</h1>
    <p><br/>Implementing jQueryUI Drag and Drop functionality in <a href="http://angularjs.org">AngularJS</a> is easier than ever by <a href="http://gplus.to/codef0rmer">codef0rmer</a></p>
    <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=codef0rmer&amp;repo=angular-dragdrop&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
    <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=codef0rmer&amp;repo=angular-dragdrop&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="codef0rmer">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <!-- Place this tag where you want the share button to render. -->
  <div class="g-plus" data-action="share" data-annotation="bubble"></div>

  <!-- Place this tag after the last share tag. -->
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  </div>


  <h3>Quick Demo</h3>
  <div class="row show-grid" ng-controller="OverviewCtrl">
    <div class="span3" data-original-title="">
      <div class="btn btn-primary" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{animate:true}" ng-hide="!list1.title">{{list1.title}}</div>
    </div>
    <div class="span9">
<pre class="prettyprint linenums languague-html" ng-non-bindable>
&lt;div class=&quot;btn btn-primary&quot; data-drag=&quot;true&quot; data-jqyoui-options=&quot;{revert: 'invalid'}&quot; ng-model=&quot;list1&quot; jqyoui-draggable=&quot;{animate:true}&quot; ng-hide=&quot;!list1.title&quot;&gt;{{list1.title}}&lt;/div&gt;
</pre>   
    </div>
    <div class="span3" data-original-title="">
      Drop below:
      <div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px;'>
        <div class="btn btn-success" data-drag="false" data-jqyoui-options ng-model="list2" jqyoui-draggable ng-hide="!list2.title">{{list2.title}}</div>
      </div>
    </div>
    <div class="span9">
<pre class="prettyprint linenums languague-html" ng-non-bindable>
&lt;div class=&quot;thumbnail&quot; data-drop=&quot;true&quot; data-jqyoui-options ng-model=&quot;list2&quot; jqyoui-droppable style='height:50px;'&gt;
  &lt;div class=&quot;btn btn-success&quot; data-drag=&quot;false&quot; data-jqyoui-options ng-model=&quot;list2&quot; jqyoui-draggable ng-hide=&quot;!list2.title&quot;&gt;{{list2.title}}&lt;/div&gt;
&lt;/div&gt;
</pre>   
    </div>
    <div class="span3" data-original-title="">
      List1 Model: {{list1}}<br/>
      List2 Model: {{list2}}
    </div>
    <div class="span9">
<pre class="prettyprint linenums languague-javascript" ng-non-bindable>
App.controller('OverviewCtrl', function($scope) {
  $scope.list1 = {title: 'AngularJS - Drag Me'};
  $scope.list2 = {};
});
</pre>   
    </div>
  </div>

  <h3>Angular Draggable options</h3>
  <table class="table table-bordered table-striped">
    <thead>
     <tr>
       <th style="width: 150px;">Name</th>
       <th style="width: 50px;">type</th>
       <th style="width: 50px;">default</th>
       <th>description</th>
     </tr>
    </thead>
    <tbody>
     <tr>
       <td>jqyoui-draggable</td>
       <td>object</td>
       <td></td>
       <td>A custom angular attribute to make any element draggable. It holds more settings such as:</td>
     </tr>
     <tr>
       <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;index</td>
       <td>Number</td>
       <td></td>
       <td>$index of an item of a model (if it is an array) associated with it</td>
     </tr>
     <tr>
       <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;placeholder</td>
       <td>boolean/string</td>
       <td>false</td>
       <td>If true, the place will be occupied even though a draggable is moved/dropped somewhere else. If 'keep' is supplied, the original element will be preserved.</td>
     </tr>
     <tr>
       <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;animate</td>
       <td>boolean</td>
       <td>false</td>
       <td>If true, draggable will be animated towards droppable when dropped. If multiple is not set to true on droppable then its draggable will swap its position.</td>
     </tr>
     <tr>
       <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;onStart</td>
       <td>string</td>
       <td></td>
       <td>callback method to be invoked (has to be defined in a controller) when dragging starts</td>
     </tr>
     <tr>
       <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;onStop</td>
       <td>string</td>
       <td></td>
       <td>callback method to be invoked when dragging stops</td>
     </tr>
     <tr>
       <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;onDrag</td>
       <td>string</td>
       <td></td>
       <td>callback method to be invoked while the mouse is moved during the dragging</td>
     </tr>
     <tr>
       <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;applyFilter</td>
       <td>string</td>
       <td></td>
       <td>applies AngularJS $filter on the list before swapping items. Only applicable, if ngRepeat has any filter (such as orderBy, limitTo) associated with it.</td>
     </tr>
     <tr>
       <td>data-drag</td>
       <td>boolean</td>
       <td>true</td>
       <td>If true, element can be draggable. Disabled otherwise.</td>
     </tr>
     <tr>
       <td>data-jqyoui-options</td>
       <td>object</td>
       <td></td>
       <td>should hold all the valid options supported by <a href="http://api.jqueryui.com/draggable">jQueryUI Draggable</a></td>
     </tr>
     <tr>
       <td>ng-model</td>
       <td>string</td>
       <td></td>
       <td>An angular model defined in a controller. Should be a JS array or object</td>
     </tr>
    </tbody>
  </table>

  <h3>Angular Droppable options</h3>
  <table class="table table-bordered table-striped">
    <thead>
     <tr>
       <th style="width: 150px;">Name</th>
       <th style="width: 50px;">type</th>
       <th style="width: 50px;">default</th>
       <th>description</th>
     </tr>
    </thead>
    <tbody>
     <tr>
       <td>jqyoui-droppable</td>
       <td>object</td>
       <td></td>
       <td>A custom angular attribute to make any element droppable. It holds more settings such as:</td>
     </tr>
     <tr>
       <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;index</td>
       <td>Number</td>
       <td></td>
       <td>$index of an item of a model (if it is an array) associated with it</td>
     </tr>
     <tr>
       <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;multiple</td>
       <td>boolean</td>
       <td>false</td>
       <td>Requires to be true only if animate is set to true for draggable and to avoid swapping.</td>
     </tr>
     <tr>
       <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;stack</td>
       <td>boolean</td>
       <td>false</td>
       <td>Requires if animate is set to true on draggable and if multiple draggables positioned one below the other</td>
     </tr>
     <tr>
       <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;onDrop</td>
       <td>string</td>
       <td></td>
       <td>callback method to be invoked a draggable is dropped into the droppable</td>
     </tr>
     <tr>
       <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;onOver</td>
       <td>string</td>
       <td></td>
       <td>callback method to be invoked when an accepted draggable is dragged over the droppable</td>
     </tr>
     <tr>
       <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;onOut</td>
       <td>string</td>
       <td></td>
       <td>callback method to be invoked when an accepted draggable is dragged out of the droppable</td>
     </tr>
     <tr>
       <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;applyFilter</td>
       <td>string</td>
       <td></td>
       <td>requires if both droppable as well as draggable share the same ngModel.</td>
     </tr>
     <tr>
       <td>data-drag</td>
       <td>boolean</td>
       <td>true</td>
       <td>If true, element can be droppable. Disabled otherwise.</td>
     </tr>
     <tr>
       <td>data-jqyoui-options</td>
       <td>object</td>
       <td></td>
       <td>should hold all the valid options supported by <a href="http://api.jqueryui.com/droppable">jQueryUI Droppable</a></td>
     </tr>
     <tr>
       <td>ng-model</td>
       <td>string</td>
       <td></td>
       <td>An angular model defined in a controller. Should be a JS array or object</td>
     </tr>
    </tbody>
  </table>
</div> <!-- /container -->
<script>
  !function ($) {
    $(function(){
      window.prettyPrint && prettyPrint();
    })
  }(window.jQuery);
</script>